@import "tailwindcss";


@theme {
  --font-sans: "Cinzel", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Cinzel", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --animate-shimmer: shimmer 1.5s infinite;
  
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #fdfbf7;
}

/* Custom scrollbar for an elegant look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #fdfbf7;
}
::-webkit-scrollbar-thumb {
  background: #d97706;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b45309;
}
